if command -v nix &> /dev/null
then
    [ -f ../.envrc ] && source_env ..
    # Use nix if it's available
    use flake
fi

layout node

if [ ! -f .git/hooks/pre-commit ]; then
    pre-commit install
fi

# Export variables from .env
watch_file .env
set -a
[ -f .env ] && . .env
set +a
